/*#007cba*/
/*#006ba1*/
/*#005a87*/
/*#1d294d*/

.body{
    background-color: #F2F2F2;
    font-family: Avenir, Helvetica, Arial, sans-serif
}

.site-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zone{
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 10px 0 10px 0;
    padding: 8px;

    background-color: white;
    border-radius: 8px;
    /*border: 1px solid #1d294d;*/

    box-shadow:  5px 5px 40px #cccccc,
    -5px -5px 5px #f4f4f4;
}

.zone-btn{
    align-self: flex-end;
}

.progBar-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: 40px;
}

.result-field{
    margin: 5px 0 0 0;
    cursor: default;
    border: none;
    pointer-events: none;
}